/* Public domain 2015. All rights waived */

.red-button, .red-outline-button {
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
}

.red-button:link, .red-button:visited {
    background-color: #D03445;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    color: white;
}

.red-button:active, .red-button:focus, .red-button:hover {
    border-color: #B3252F;
    border-top-color: #DD6E76;
    text-decoration: none;
    text-shadow: 0px 3px 0px #A02C2C;
}

.red-outline-button:link, .red-outline-button:visited {
    background-color: transparent;
    border-style: dashed;
    border-width: thin;
}

.red-outline-button:active, .red-outline-button:focus,
.red-outline-button:hover {
    border-style: solid;
    text-decoration: none;
}