/* Public domain 2015. All rights waived. */

pre.code {
    background-color: #2D3743;
    border-color: black;
    border-style: solid;
    border-width: thin;
    color: #E1E1E1;
    font-size: 14px;
    padding: 10px;
}

pre.code .comment { color: #74AF68 }
pre.code .keyword { color: #F3A62B; font-weight: bold }
pre.code .literal.string { color: #E67128 }
pre.code .name.builtin { color: #E1E1E1 }
pre.code .name.function { color: #E1E1E1 }
