/* Public domain 2015. All rights waived. */

.info-box {
    padding: 10px;
    position: relative;
    text-align: center;
}

.info-box h2 {
    font-size: 2.1em;
}

.info-box p {
    color: #4D4D4D;
    font-size: 1.3em;
}

.button-box {
    padding-top: 30px;
}

.free-flow-box {
    min-height: 500px;
    padding: 20px;
    text-align: center;
}

.free-flow-box > h2 {
    font-size: 2.5em;
}

.free-flow-box > p {
    font-size: 1.3em;
    padding: 0px 0px 20px 0px;
}

.gears-bg {
    background-color: #F2F2F2;
    background-image: url("../img/gears-down.png"),
                      url("../img/gears-up.png"),
                      url("../img/noise-bg.png");
    background-position: top, bottom, top;
    background-repeat: repeat-x, repeat-x, repeat;
    padding: 150px 20px;
}

.code-example {
    max-width: 400px;
}

.code-example, .app-example {
    display: block;
    margin: 20px auto;
    overflow: hidden;
}

.code-example pre {
    box-shadow: 0 0 5px gray;
    -moz-box-shadow: 0 0 5px gray;
    -webkit-box-shadow: 0 0 5px gray;
    min-height: 230px;
    overflow: auto;
    text-align: left;
}

.code-example p code {
    font-size: 0.9em;
}

.app-example:link, .app-example:visited {
    color: #4D4D4D;
    position: relative;
    text-decoration: none;
    max-width: 286px;
}

.code-example h3, .app-example h3, .news-item h3 {
    font-size: 1.8em;
    margin-bottom: 0px;
}

.app-example img {
    background-color: transparent;
    border-color: #ABABAB;
    border-style: dashed;
    border-width: thin;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    height: auto;
    padding: 18px;
    max-width: 100%;
}

.app-example:active img, .app-example:focus img, .app-example:hover img {
    background-color: white;
    border-style: solid;
    box-shadow: 0 0 5px gray;
    -moz-box-shadow: 0 0 5px gray;
    -webkit-box-shadow: 0 0 5px gray;
}

.news-item {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.news-item:link, .news-item:visited {
    border-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    color: #4D4D4D;
    display: inline-block;
    height: 350px;
    margin: 0px 20px 20px 20px;
    overflow: hidden;
    padding: 0px 10px;
    text-decoration: none;
    vertical-align: top;
    max-width: 300px;
}

.news-item:active, .news-item:focus, .news-item:hover {
    border-color: white;
    box-shadow: 0 0 2px gray;
    -moz-box-shadow: 0 0 2px gray;
    -webkit-box-shadow: 0 0 2px gray;
}

.news-date {
    text-align: center;
}

.news-summary {
    text-align: justify;
}


@media screen and (min-width: 500px) {
    .code-example, .app-example {
	display: inline-block;
	margin: 20px;
	vertical-align: top;
    }
}


@media screen and (min-width: 1000px) {
    #featured-box {
	padding-bottom: 20px;
    }
    
    .info-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
	margin: auto;
	padding: 50px 0px;
	width: 960px;
    }

    .info-box > div {
	display: inline-block;
	max-width: 470px;
	text-align: left;
    }
    
    .info-box img {
	position: absolute;
	top: 80px;
    }

    .text-left {
	text-align: left;
    }

    .text-right {
	text-align: right;
    }
    
    .text-left img {
	right: 0px;
    }

    .text-right img {
	left: 0px;
    }

    #code-examples > p {
	padding: 0px 50px;
    }
}