/* Public domain 2015. All rights waived. */

@import url("regular-page.css");


.resource {
    border-color: silver;
    border-style: none none dashed none;
    border-width: thin;
}

.with-cover {
    box-sizing: border-box;
    min-height: 240px;
    padding-left: 170px;
    position: relative;
}

.with-cover > img {
    border-color: white;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 0 2px gray;
    height: auto;
    left: 0px;
    position: absolute;
    top: 10px;
    max-width: 140px;
}