/* Public domain 2015. All rights waived. */

@import url("regular-page.css");


.lib {
    border-color: silver;
    border-style: none none dashed none;
    border-width: thin;
}

.guile-version-tag {
    background-color: #F2F2F2;
    border-radius: 2px;
    display: inline-block;
    font-size: 0.8em;
    margin: 0px 5px 0px 0px;
    padding: 2px 10px;
}