/*
    Public domain 2016 Ludovic Courtès <ludo@gnu.org>.
    All rights waived.
*/

@import url("regular-page.css");

.example {
    border-style: none;
    border-radius: 0.3em;
    background-color: #F2EFE4;
    border-width: thin;
    color: black;
    font-size: 0.9em;
    padding: 10px;
    text-align: left;
    font-family: fixed-width;
}

.post-about {
    color: #4D4D4D;
    font-size: 0.9em;
}

article {
    text-align: justify;
}
