/* Public domain 2015. All rights waived. */

pre.shell {
    background-color: #F2F2F2;
    border-color: silver;
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
    padding: 15px;
}