title: GNU Guile 2.1.8 released
date: 2017-03-10 14:33
author: Andy Wingo
---
<div> <!-- needed to placate Haunt's 'html-reader' -->
<p>
  We are delighted to announce GNU Guile release 2.1.8, the next
  pre-release in what will become the 2.2 stable series.
</p>
<p>
  This release fixes a number of portability bugs.  We hope this is
  the last pre-release before starting the stable 2.2.0 series.  With
  luck, we will follow up with a 2.2.0 within a week or so, so any
  testing you can perform on this release is very welcome.
</p>
<p>
  See
  the <a href="https://lists.gnu.org/archive/html/guile-devel/2017-03/msg00061.html">release
  announcement</a> for full details and a download link.
</p>
</div>
