title: GNU Guile 2.1.7 released
date: 2017-02-18 11:34
author: Andy Wingo
---
<div> <!-- needed to placate Haunt's 'html-reader' -->
<p>
  We are pleased to announce GNU Guile release 2.1.7, the next
  pre-release in what will become the 2.2 stable series.
</p>
<p>
  This release fixes bugs related to migrating coroutines between
  threads.  It is an incremental release along the path to 2.2.  We
  hope to be able to release a final 2.2.0 within a few weeks.
</p>
<p>
  See
  the <a href="https://lists.gnu.org/archive/html/guile-devel/2017-02/msg00037.html">release
    announcement</a> for full details and a download link.
</p>
</div>
