title: GNU Guile 2.1.5 released
date: 2016-12-09 16:30
author: Andy Wingo
---
<div> <!-- needed to placate Haunt's 'html-reader' -->
<p>
  We are delighted to announce GNU Guile release 2.1.5, the next
  pre-release in what will become the 2.2 stable series.
</p>
<p>
  This release improves Guile's parallelism and concurrency primitives,
  with the goal of providing Guile users with the tools they need to
  build custom concurrency and parallelism abstractions that suit their
  needs.
</p>
<p>
  See
  the <a href="https://lists.gnu.org/archive/html/guile-devel/2016-12/msg00005.html">release
    announcement</a> for full details and a download link.
</p>
</div>
